/*----------------------------------------*\
  LOADER
\*----------------------------------------*/

.loader {
  display: block;
  width: 80px;
  height: 80px;

  border-radius: 100%;
  border: 10px solid #29689A33;
  border-top-color: $brand-color;
  animation: spin 1s infinite linear;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  @include media('md') {
    min-height: 600px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
